body{
  width:100%;
  height:100vh;
  background-color:black;
  font-family:"Noto Serif JP","ヒラギノ明朝 Pro W3","Hiragino Mincho Pro","游明朝","Yu Mincho","游明朝体","YuMincho","HiraMinProN-W3","HGS明朝E","MS P明朝","MS PMincho",serif;
  padding:0;
  margin:0;
}

header{
  width:100%;
  height:110px;
  background-color:white;
  position:fixed;
  padding:0;
  margin:0 auto;
  box-sizing: border-box;
  display:block;
  opacity:0.75;
  z-index:200;
  
}

.top{
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  text-align:center;
  margin:3px auto 0 0;
}
.top h1{
  font-size:24px;
  line-height: 24px;
  letter-spacing:5px;
  color:rgb(177,0,100);
}

.top h4{
  font-size:15px;
  line-height: 29px;
  margin-left:33px;
  letter-spacing:8px;
  color:rgb(177,0,100);
}

.top img{
  width:60px;
  height:60px;
  object-fit: contain;
  margin-top:5px;
}



.menu{
  width:100%;
  height:50px;
  text-decoration: none;
  display:inline-block;
  text-align:center;
  z-index:55;
}
.menutitle{
  text-decoration: none;
  display:inline-block;
  margin:auto;
  margin-left:50px;
  color:rgb(50,50,50);
  text-align:center;
  letter-spacing: 3px;
  position:relative;
  left:-40px;
  top:6px;
  font-size:15px;
  font-weight:bolder;
  
}
.menutitle:hover{
  color:rgb(177,88,100);
}

.bottom{
  height:8px;
  background-color:rgb(166,55,126);
  margin-top:-15px;
}
.tategaki{
  width:455px;
  height:445px;
  background-color:rgb(123, 15, 150);
  z-index:100;
  position:absolute;
  right:75px;
  top:160px;
  opacity:0.7;
  padding-bottom:10px;
  font-family:"ヒラギノ丸ゴ Pro W2","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W2","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
  animation:yura2 24s infinite forwards;
  
}
.tategaki h3{
  font-size:16px;
  font-weight:normal;
  color:white;
  writing-mode: vertical-rl;
  position:absolute;
  right:-6px;
  top:15px;
  line-height:36px;
  letter-spacing:3px;
  
}

.ostitle{
  margin:auto;
  width:700px;
  height:40px;
  background:linear-gradient(90deg,rgb(177,0,100),rgb(153, 19, 187));
  border-radius:30px;

}

.ostitle h2{
  text-align:center;
  position:relative;
  color:white;
  font-size:20px;
  letter-spacing: 20px;
  margin-left:10px;
  line-height: 38px;
}
.main{
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  background:black;
  background-image: url("main.jpg");
  animation:yura 48s infinite forwards;
  background-size: cover;
	background-position: center;
  width:100%;
  height:60%;
}



@keyframes yura{
  0%{
    opacity:0.0;
  }
  
  20%{
    opacity:1;
  }
  80%{
    opacity:1;
  }
  100%{
    opacity:0.0;
  }

}

@keyframes yura2{
  0%{
    opacity:0;
  }
  
  40%{
    opacity:0.8;
  }
  60%{
    opacity:0.8;
  }
  100%{
    opacity:0;
  }

}




.oshirase{
  width:100%;
  display:block;
  position:relative;
  top:20px;

}

.layout{
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  width:100%;
  height:200px;
  box-sizing: border-box;
  margin-top:25px;

}

.shashin{
  width:280px;
  margin-left:22px;
  height:200px;
  background-color:rgb(255,211,250) ;
  box-shadow: 1.5px 1.5px 2px rgb(88,88,88);
}

.mobile_menu{
	display:none;
}
.botanchan{
  display:none;

}

.mobile_top{
  display:none;
}

.slider-pro{
	display:none;
	position:absolute;
	top:1550px;
	width:700px;
	height:auto;
}

.sp-slides{
	display:block;
	width:700px;
	background-size: cover;
}

.pc_photo{
	width:100vw;
	height:800px;
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin:20px 0 20px;
	padding:0;
	
}

.photo_own{
	width:33.3%;
	height:50%;
	background-size: cover;
	background-position: center;
	margin:0;
	border:0.5px solid black;
	box-sizing: border-box;
}

.pho01{
	background-image: url("nougakudou.jpg");
}

.pho02{
	background-image: url("mioran_01.jpg");
}
.pho03{
	background-image: url("miosa_01.jpg");
}
.pho04{
	background-image: url("mioraku_02.jpg");
}
.pho05{
	background-image: url("miosa_02.jpg");
}
.pho06{
	background-image: url("mioraku_01_R01.jpg");
}
.pho07{
	background-image: url("miosa_03.jpg");
}
.pho08{
	background-image: url("mioraku_05.jpg");
}
.pho09{
	background-image: url("miosa_04.jpg");
}
footer{
	display:block;
	position:fixed;
	bottom:0;
	width:100vw;
	height:45px;
	background:rgb(166,55,126);
	margin-top:10px;
}

footer h4{
	display:block;
	color:white;
	text-align:center;
	font-size:16px;
	margin:0 auto;
	padding:0;
	line-height: 45px;
	letter-spacing: 3px;
}